

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.oval{
    height: 50px;
    width: 50px;
    border:1px solid;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1px;
    border-radius: 100%;
    font-size: 70% !important;
    font-weight: bold;
}



.bar{
    width: 10%;
    border:5px solid lightgray;
}

.passed{
    color: blue;
    border: 3px solid blue !important;
}